#modal__idFull{
    min-height: 100%;
     max-width: auto;
 }

 .cardgeneral{

     margin: 40px;
     font-family: 'monserrat';

 }

 .cardbody{

    font-family: 'monserrat';
}


// .cardimage{

//     width: 10px;
// }

