#modal__idFull{
    min-height: 100%;
     max-width: auto;
 }

 .cardgeneral{

     margin: 40px;
     font-family: 'monserrat';

 }

 .cardbody{

    font-family: 'monserrat';
}


.textcard{


    font-family: 'montserrat';
    font-size: 15px;

}



.textbuttoncard{


    font-family: 'montserrat';
    font-size: 12px;

}



.modaltitle{


    font-family: 'montserrat';
    font-size: 18px;
    justify-content: center;
    align-items: center;

}

