.generalcontainer{

    display: flex;
    flex-direction: row;

}


.navbarcontainer{

    display: flex;
    flex-direction: row;

}

.textnav {

    color: white;
}

.user{

    
    color:"white"
}