.generalcontainer{

    display: flex;
    flex-direction: row;

}


.navbarcontainer{

    display: flex;
    flex-direction: row;

}

.textnav {

    color: white;
    font-family: 'montserrat';
    font-size: 15px;

}


.buttones {

    font-size: 12px;
    color: rgb(255, 255, 255);
   
}







.buttongener {

    font-size: 12px;
    // background-color: none;
    // border-radius: 5px;
    // margin: 20px;
    color: rgb(255, 255, 255);
   
}


.buttonuser {
 
    font-size: 12px;
    // background-color: none;
    // border-radius: 5px;
    // margin: 20px;
    color: rgb(255, 255, 255);
    margin-top: 26px;
    margin-left: 15px;
   
}

