

.parrafopriv {

 
    align-items: center;
    font-family: 'montserrat';
    width: 100%;
    font-size: 12px;
    margin:50px;
    padding-left: 20px;
  
}

.check {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

.checktext {

 
  color:black;
  font-size: 6;
  margin-left: 10px; 
  margin-top: 18px;
}





